.headerWrapper {
  width: 100%;
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  padding: 1em 0.2em;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}

.leftHeader {
  display: flex;
  align-items: center;
}

.leftHeader h1 {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.leftHeader h1 span {
  transition: color 0.5s ease;
}

.leftHeader h1:hover span {
  color: rgba(0, 145, 255, 1);
}

.rightHeader {
  display: flex;
}

button {
  padding: 0.5em 1em;
  border: none;
  background: none;
}

svg {
  fill: white;
  transition: fill 0.2s ease;
  cursor: pointer;
}

svg:hover {
  fill: rgba(0, 145, 255, 1);
}